body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.details-img {
  background-image: url('../images/header1.png');
  height: 70vh;
  background-size: 100% 100%;
}

.uppercase {
  text-transform: uppercase;
  font-weight: 700;
}

.contact-text {
  margin-top: 7em;
  color: #fff;
}

footer {
  margin-top: 2em;
}