:root {
  --clr-main: #39C0ED;
  --font-baskervvile: 'Baskervville', serif;
}

body {
  background: whitesmoke;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: var(--font-baskervvile);
}

/* header {
  background: url('../images/AbehSignature/header-dark.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  color: #fff;
} */

.btn {
  padding: 1em !important;
}

.btn-main {
  background: var(--clr-main);
  color: #fff;
}

header {
  background: url('../images/Abeh Signature/DJI_0264.JPG');
}

nav {
  background: #fff;
}

.navbar-brand {
  line-height: .9em;
  letter-spacing: .3em;
}
#about, #projects {
  width: 70vw;
}
.card {
  box-shadow: none;
}
.card-img {
  background: none;
}
#projects img {
  display: block;
  width: 100%;
}

#projects a {
  color: #fff;
  border: 1px solid #fff;
  padding: 0 7px;
  border-radius: 50%;
}
#projects a:hover {
  opacity: 0.7;
  border: 1px solid bisque;
}

#contact {
  margin-top: 7em;
}

#contact .row {
  width: 70%;
  margin: 0 auto;
}
.list-group {
  list-style: none;
}

.card-title {
  background-color: var(--clr-main);
  color: #fff;
  padding: .5em 1em;
  width: 12em;
  margin-top: -2em;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.card-title:hover {
  transform: scale(1.05);
}

#card-title-main {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
#card-title-main:hover {
  transform: none;
}

.caret {
  float: right;
}


#amenities {
  margin-top: 5em;
  background-color: #fff;
  padding: 2em 0;
}

#amenities-images {
  width: 60vw;
  display: flex;
  margin: 0 auto;
}

#amenities-images img {
  width: 350px;
  height: 200px;
}
#amenities-images .card {
  margin-right: 5px;
}

.line {
  width: 100px;
  border: 2px solid var(--clr-main);
  color: var(--clr-main);
  margin: 0 auto;
}

#gallery {
  overflow-x: scroll;
}

.gallery {
  width: max-content;
}

.gallery img {
  width: 250px;
  height: 200px;
}
.gallery img:hover {
  transform: scale(1.1);
}

@media (max-width: 500px) {
  #amenities-images {
    width: 60vw;
    display: block;
    margin: 0 auto;
  }
  
  #amenities-images img {
    height: 100px;
  }

  .card-title {
    width: 10em;
  }    
}

@media (max-width: 768px) {
  #contact-form {
    margin-top: 2em;
  }
}

@media (max-width: 800px) {
  #amenities-images {
    width: 60vw;
    display: block;
    margin: 0 auto;

  }
  #amenities-images img {
    height: 150px;
  }
}