:root {
  --clr-main: #d5a96b;
  --font-baskervvile: 'Baskervville', serif;
}

body {
  background: whitesmoke;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: var(--font-baskervvile);
}

.main-clr-bg {
  background-color: var(--clr-main);
  color: #fff;
}
.main-clr-text {
  color: var(--clr-main);
}

/* header {
  background: url('../images/AbehSignature/header-dark.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  color: #fff;
} */

.btn {
  padding: 1em !important;
}

.btn-main {
  background: var(--clr-main);
  color: #fff;
}

header {
  background: url('../images/Abeh Signature/DJI_0264.JPG');
}

nav {
  background: #fff;
}

.dropdown-toggle:after {
  display: none;
}

.navbar {
  margin: 0;
  padding: 0;
}

.brand-icon {
  width: 45px;
  height: 50px;
  font-size: 1.2em;
  margin-left: 85%;
}

.navbar-light .navbar-brand {
  color: var(--clr-main);
  line-height: 1em;
  font-size: 18px;
  letter-spacing: 3px;
}

.navbar-light .navbar-nav .nav-link {
  color: var(--clr-main);
}

.navbar-brand {
  line-height: .9em;
  letter-spacing: .3em;
}

.highlight-main {
  background-color: var(--clr-main);
  color: #fff;
  text-align: center;
}

#about, #projects {
  width: 70vw;
}
.card {
  box-shadow: none;
}
.card-img {
  background: none;
}
#projects img {
  display: block;
  width: 100%;
}

#projects a {
  color: #fff;
  border: 1px solid #fff;
  padding: 0 7px;
  border-radius: 50%;
}
#projects a:hover {
  opacity: 0.7;
  border: 1px solid bisque;
}

#contact {
  margin-top: 7em;
}

#contact .row {
  width: 70%;
  margin: 0 auto;
}
.list-group {
  list-style: none;
}

.card-title {
  background-color: var(--clr-main);
  color: #fff;
  padding: .5em 1em;
  width: 12em;
  margin-top: -2em;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.card-title:hover {
  transform: scale(1.05);
}

#card-title-main {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
#card-title-main:hover {
  transform: none;
}

.caret {
  float: right;
}


#amenities {
  margin-top: 5em;
  background-color: #fff;
  padding: 2em 0;
}

#amenities-images {
  width: 60vw;
  display: flex;
  margin: 0 auto;
}

#amenities-images img {
  width: 350px;
  height: 200px;
}
#amenities-images .card {
  margin-right: 5px;
}

.line {
  width: 100px;
  border: 2px solid var(--clr-main);
  color: var(--clr-main);
  margin: 0 auto;
}

#gallery {
  overflow-x: scroll;
}

.gallery {
  width: max-content;
}

.gallery img {
  width: 250px;
  height: 200px;
}
.gallery img:hover {
  transform: scale(1.1);
}

@media (max-width: 500px) {
  #amenities-images {
    width: 60vw;
    display: block;
    margin: 0 auto;
  }
  
  #amenities-images img {
    height: 100px;
  }

  .card-title {
    width: 10em;
  }    
}

.dropdown-menu {
  position: relative;
  width: 100vw;
  top: 14.6em;
  padding: 5em 0;
  margin-right: -1em;
}

.dropdown-list {
  font-size: 16px;
  width: fit-content;
  margin: 0 auto;
}

.menu-header {
  margin: 20px 0;
  background-color: #fff;
  color: var(--clr-main) !important;
  font-size: 18px;
  padding: 0 2em;
}

.dropdown-list>li {
  margin-left: -2.5em;
  display: flex;
  justify-content: center;
}

.dropdown-list>li>a {
  color: #fff;
  width: max-content;
  font-size: 20px;
}

.dropdown-list>li>a:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.close {
  position: absolute;
  left: 25.5em;
  width: 32px;
  height: 32px;
  opacity: 1;
  z-index: 999;
  display: none !important;
}

.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #fff;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

@media (max-width: 768px) {
  #contact-form {
    margin-top: 2em;
  }
}

@media (max-width: 800px) {
  #amenities-images {
    width: 60vw;
    display: block;
    margin: 0 auto;

  }
  #amenities-images img {
    height: 150px;
  }
}